.container {
  max-width: 1040px;
  margin: 0 auto;
}

.asterisk {
  color: $darkRed;
  margin-right: 4px;
}

input, select, .option-add__btn {
    width: 100%;
    display: block;
    padding: 12px 15px;
    border: 1px solid rgba(23, 23, 25, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    color: $dark;
    font-size: 20px;
    line-height: 24px;

    &::placeholder {
      color: $dark;
      opacity: 0.3;
    }

    &:disabled {
      background: white;
    }
  }

  .option-add__btn {
    color: rgba(39, 39, 39, .3);
    text-align: left;
  }

  input:focus {
    border: 1px solid $blue;
    background: $lightBlue;
  }

  select {
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../images/icons/select-dropdown.svg'); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 

    option {
      font-size: 20px;
      line-height: 48px;
      color: $dark;
      padding: 12px 14px;

      &:hover, &:active {
        background: $lightBlue;
      }
    }
  }

.field {
  width: 100%;
  margin-bottom: 20px;

  label {
    display: block;
    font-size: 16px;
    line-height: 22px;
    color: $dark;
  }
}

.invalid {
  label {
    color: $red;
  }
  input, select {
    border: 1px solid $red;
    background: rgba(235, 87, 87, 0.1);
    &::placeholder {
      color: $red;
      opacity: 0.6;
    }
  }
  select {
    background-image: url('../images/icons/select-dropdown.svg'); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    color: rgba(235, 87, 87, .6);
    &:required:invalid {
      color: rgba(235, 87, 87, .6);
    }
    &::placeholder {
      color: $red;
      opacity: 0.6;
    }
    & + label {
      color: $red;
    }
  }
}

// custom checkbox

.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox > span {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $blue;
  border-radius: 3px;
  margin-right: 20px;
  opacity: 0.3;
}

.custom-checkbox > input:checked + span::before {
  background-image: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
}


input:focus:invalid,
  select:focus:invalid {
    border: 1px solid $red;
    background: rgba(235, 87, 87, 0.1);
    &::placeholder {
      color: $red;
      opacity: 0.6;
    }
    & + label {
      color: $red;
    }
  }
  select:focus:invalid {
    background-image: url("../images/icons/select-dropdown.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    &:required:invalid {
      color: rgba(235, 87, 87, 0.6);
    }
  }

  // remove button {
    .added-property__remove {
      padding: 6px;
    }