// colors
$black: #000000;
$dark: #272727;
$blue: #1390E5;
$lightBlue: rgba(197, 228, 249, 0.3);;
$bg: #FAFAFA;
$white: #FFFFFF;
$grayText: rgba(23, 23, 25, 0.3);
$lightGray: #F1F1F1;
$mediumGray: #C4C4C4;
$red: #EB5757;
$darkRed: #FF0000;